*{
    padding: 0%;
    margin: 0%;
}
.uno{
    position: absolute;
    z-index: 16;
}
.dos{
    position: absolute;
    z-index: 15;
}
.tres{
    position: absolute;
    z-index: 14;
}
.cuatro{
    position: absolute;
    z-index: 13;
}
.cinco{
    position: absolute;
    z-index: 12;
}
.seis{
    position: absolute;
    z-index: 11;
}
.siete{
    position: absolute;
    z-index: 10;
}
.ocho{
    position: absolute;
    z-index: 9;
}
.nueve{
    position: absolute;
    z-index: 8;
}
.dies{
    position: absolute;
    z-index: 7;
}
.once{
    position: absolute;
    z-index: 16;
}
.toce{
    position: absolute;
    z-index: 5;
}
.trece{
    position: absolute;
    z-index: 4;
}
.catorce{
    position: absolute;
    z-index: 3;
}
.quince{
    position: absolute;
    z-index: 2;
}
#tiempo1{
    animation-delay: 5s;
}
#tiempo2{
    animation-delay: 1s;
}
#tiempo3{
    animation-delay: 2s;
}
#tiempo4{
    animation-delay: 3;
}
#tiempo5{
    animation-delay: 4s;
}
#tiempo6{
    animation-delay: 5s;
}
#tiempo7{
    animation-delay: 6s;
}
#tiempo8{
    animation-delay: 7s;
}
#tiempo9{
    animation-delay: 8s;
}
#tiempo10{
    animation-delay: 9s;


}
#tiempo11{
    animation-delay: 10s;
}
#tiempo12{
    animation-delay: 11s;
}

}
#tiempo13{
    animation-delay: 11s;
}
body{
    background-color:rgb(255, 255, 255);
}
h6{
    font-family: 'Lobster', cursive;
}
.center{
    margin: auto;
    display: flex;
    justify-content: center;
}
.amarillo{
    background-color:white;
    height: 250px;
}
.azul{
    background-color:#484949;
    height: 250px;}
    
.verde{
    background-color:#484949;
    height: 250px;}
    
.negro2{
    background-color:#21223F dotted;
    height: 250px;}
.rojo{
    background-color:palevioletred;
    height: 250px;
}
p{
    font-size: 20px;
    color:black);
    font-family:arial;

}
h3{
    color:black;
    box-shadow: black;
    font-family: 'Source Code Pro', monospace;
   border-radius: 20px / 10px;

}
h2{
    color:white;
    box-shadow: rgb(245, 246, 248);
    font-family: 'Source Code Pro', monospace;
   text-shadow: 2px 2px 4px rgb(7, 7, 7);
   font-size: 100px;
}
*{
    padding: 0px;
    margin: 0px;}



.center{
    margin: auto;
    display: flex;
    justify-content: center;
}
.amarillo{
    background-color:rgb(111, 111, 240);
    height: 250px;
}
.azul{
    background-color:rgb(91, 209, 224);
    height: 250px;
}
.rojo{
    background-color:palevioletred;
    height: 250px;
}
p{
    color:black;
    font-family:Bodoni MT Black;

}
h2{
    color:black;
    font-family: 'Lobster', cursive;
    font-size: 100px;

}



#contenedor{
    
width: 400px;
margin: 30px auto;
overflow: hidden;

}
#contenedor ul{
    list-style: none;
    width: 1200px;
    display: flex;
    overflow: hidden;

animation:slide 20s infinite;}
@keyframes slide{
    0% { margin-left: 0px;}
    20% { margin-left: 0px;}
    25% { margin-left: -400px;}
    45% { margin-left: -400px;}
    50% { margin-left: -800px;}
    70% { margin-left: -800px;}
    75% { margin-left: -1200px;}
    75% { margin-left: -1200px;}
}

}
#tiempo{
		animation-delay:3s;}#tiempo1{
			animation-delay: 0.1s;
		}
		#tiempo1{
			animation-delay: 3s;
		}
		#tiempo2{
			animation-delay: 3.5s;
h4{
    font-size: ;
    color:#484949;
    font-family: 'Source Code Pro', monospace;

}
.li{
    display: inline-block;
}
h1{
    color:#484949;
    font-family: 'Lobster', cursive;


}
.btn{
    padding: 2.5rem 7rem;
    background:rgb(14, 13, 13);
    border: 0.1rem solid rgb(10, 167, 156);
    cursor: pointer;
    position: relative;
    border-radius: 0.3rem;
    overflow: hidden;

}
.btn::before{
    content: "clik";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: rgb(30, 139, 241)7);
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem black;
    transition: .2s ease;
}
.btn::after{
    content: "aqui";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 1.6rem;
    color: #484949;
    text-transform: uppercase;letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem #484949;
    transition: .2s ease;
    opacity: 0;
}
.btn:hover::before{
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
}
.btn:hover::after{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;}

.fondo{
    opacity: 0.9;}
    .center{
        display: flex;
        justify-content: center;}
        .negro{
            background-color:#79A690;
          
            
            width: 200%;}

                .morado{
                    background-color:rgb(135, 68, 173);
                    position: absolute;
                    z-index:3;
                    opacity: 0.7;
                    width: 80%;}.btn{
                        padding: 2.5rem 7rem;
                        background: #79A690;
                        border: 0.1rem solid #484949;
                        cursor: pointer;
                        position: relative;
                        border-radius: 0.3rem;
                        overflow: hidden;}
                        

  
{
    border: 3px #21223F dotted;
}
h4
{
    text-shadow: 2px 2px 4px rgb(10, 167, 156);
   font-family: 'Source Code Pro', monospace;
}
/*CSS media query within a style sheet*/
<style>
@media (max-width: 586px) {
  .borrar {
    display: none;
  }
  