body{
    background-color:#ffe96f;
}
.cafe{
    background-color:#ffe96f;
    
    height: 250px;}
    .cafe2{
        background-color:#ffe96f;
        
        height: 100px;
    width: 1200px;}
    h6{
        color: black;
        font-family: 'Lobster', cursive;}
        h5{
            color: black;
            font-family: 'Lobster', cursive;}
            h4{
                color: black;
                font-family: 'Lobster', cursive;}
                h3{
                    color: black;
                    font-family: 'Lobster', cursive;}
                    h2{
                        color: black;
                        font-family: 'Lobster', cursive;}
                        h1{
                            color: black;
                            font-family: 'Lobster', cursive;}

                            .verde{
                                background-color:#79A690;
                                
                                height: 250px;}   
                                .verde1{
                                    background-color:#ffe96f;;
                                    
                                    height: 250px;}   
                                    .verde2{
                                        background-color:#484949;
                                        
                                        height: 250px;}   