body{
    background-color:rgb(255, 255, 255);
}
.cafe{
    background-color:#484949;
    height: 250px;}
    .azul{
        background-color:#79A690;
        height: 250px;}
        
        h5{
            font-size: ;
            color:#484949;
            font-family: 'Sriracha', cursive;
        
        }
        h1{font-family: 'Sriracha', cursive;}
        h4{
            background-color:#79A690;
            color: #484949;
                font-family: 'Sriracha', cursive;}
                p{
                    color: #484949;
                    font-family: 'Sriracha', cursive;
                }